.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    max-width: 400px;
   height: 100%;
    margin: 10px;
    padding-bottom: 10px;
    float: left;
  background-color: #a52a2a;
    text-align: center;
    color: white;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
    width: 200px;
    height: 200px;
}
.datos{
    text-align: left;
}
.titulos{
    color: black;
    font-size: 17px;
    text-align: left;
}
.mesa{
    background-color: #c54c4c;
}
agm-map {
    width: 350px;
    height: 350px;
}
.map{

}

.direction-panel i {
    font-size: 12px;
  }
.direction-panel {
    max-height: 350px !important;
    float: right;
    width: 100%;
    overflow: scroll !important;
}

.location-button{
    float:right;
    margin-right: 5%;
}

.accept-button{
    float:right;
    margin-right: 8%;
}

.example-form {
    max-width: 600px;
    width: 600px;
  }
  
  .example-full-width {
    width: 85%;
  }
  .example-mid-width {
    width: 60%;
    margin-left: 10%;
  }