    <table>
      <td>
        <agm-map [latitude]="centerLat" [longitude]="centerLng" [zoom]="zoom" >
          <agm-marker *ngIf="!dir" [latitude]="latA" [longitude]="lngA"></agm-marker>
          <agm-marker *ngIf="!dir" [latitude]="latB" [longitude]="lngB"></agm-marker>
          <agm-direction *ngIf="dir" (onChange)="changeDirectionHandler($event)"
            [origin]="dir.origin" [destination]="dir.destination" [panel]="myPanel" [provideRouteAlternatives]="activoAlternatives">
          </agm-direction> 
        </agm-map>
      </td>
      <td>
        <div #myPanel class="direction-panel"></div>
      </td>
    </table>
<div>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ingresar Origen" [(ngModel)]="origenIngresado" [ngModelOptions]="{standalone: true}" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"  #search>
      </mat-form-field>
      <button mat-mini-fab class="location-button" color="primary" (click)="setCurrentPosition('Origen')">
        <mat-icon class="material-icons">my_location</mat-icon>
      </button>     
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Ingresar Destino" [(ngModel)]="destinoIngresado" [ngModelOptions]="{standalone: true}" autocorrect="off" autocapitalize="off" spellcheck="off" type="text"  #searchB>
      </mat-form-field>
      <button mat-mini-fab class="location-button" color="primary" (click)="setCurrentPosition('Destino')">
        <mat-icon class="material-icons">my_location</mat-icon>
      </button>  
    
      
      <!-- <input matInput placeholder="Origen" [(ngModel)]="origenIngresado" [ngModelOptions]="{standalone: true}" > -->
    <!-- <mat-form-field class="example-full-width"> -->
      <!-- <input matInput placeholder="Destino" [(ngModel)]="destinoIngresado" [ngModelOptions]="{standalone: true}"> -->
    <!-- </mat-form-field> -->
    <!-- <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field> -->
    <mat-form-field class="example-full-width">
      <input matInput [min]="minDate" [max]="maxDate" [(ngModel)]="fechaSalida" [ngModelOptions]="{standalone: true}" [matDatepicker]="picker" placeholder="Fecha de Salida">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput atp-time-picker placeholder="Horario de Salida" [(ngModel)]="horaSalida" [ngModelOptions]="{standalone: true}"/>
    </mat-form-field>

    <mat-checkbox class="example-margin" [(ngModel)]="premium" [ngModelOptions]="{standalone: true}" (click)="calcularMonto()">¿Premium?</mat-checkbox>
    <mat-form-field class="example-mid-width">
        <mat-select placeholder="Vehiculos" [(ngModel)]="viaje.idVehiculo" [disabled]="!premium" [ngModelOptions]="{standalone: true}">
          <mat-option *ngFor="let vehiculo of listado" [value]="vehiculo.id">
            {{vehiculo.marca}} {{vehiculo.color}} {{vehiculo.patente}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <div>
      <label>Monto Aproximado:</label>
      <label style="font-size: 15px">${{montoAprox}}</label>
    
    <button mat-raised-button color="primary" class="accept-button" (click)="aceptarViaje()">
        <mat-icon class="material-icons">done</mat-icon>
       Regisrar Viaje
    </button>
    <button mat-raised-button color="primary" class="accept-button" (click)="borrarCampos()">
      <mat-icon class="material-icons">clear</mat-icon>
     Borrar Campos
    </button>
    </div>
  </div>