.tabla{
    /*background-color: #5e90fa;*/
    background-color: #ffffffad;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
    align-items: center;
}
.caja{
    background-color: #ffffffad;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*border-bottom: 1px;*/
    text-align: center;
    align-items: center;
    margin-bottom: 0px;
}